
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_catalogo/_piano_cauda/_kawai/kawai.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Kawai: Pianos de Cauda</h3>
              <ul class="list-inline text-white">
                <li><a href="?p=index"><span class="text-white">Home</span></a> /</li>
                <li><a href="?p=catalogo"><span class="text-white">Catálogo</span></a> /</li>
                <li><a href="?p=piano_cauda"><span class="text-white">Piano de Cauda</span></a> /</li>
                <li><span class="text-gray">Kawai: Modelos</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Gallery Grid 4 -->
    <section>
      <div class="container pb-20">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
            
              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-3 gutter clearfix">
                  
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/ex.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/EX.png" title="Kawai EX" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/EX.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/ex.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/EX.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/ex.html" ><h5 class="text-center mt-15 mb-40">EX </h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gm-10.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GM-10.png" title="Kawai GM-10" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GM-10.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gm-10.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gm-10.html" ><h5 class="text-center mt-15 mb-40">GM-10</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gx-2.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-2.png" title="Kawai GX-2" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-2.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gx-2.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-2.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gx-2.html" ><h5 class="text-center mt-15 mb-40">GX-2</h5></a>
                </div>
                <!-- Portfolio Item End -->

                 <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gx-3.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-3.png" title="Kawai GX-3" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-3.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gx-3.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-3.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gx-3.html" ><h5 class="text-center mt-15 mb-40">GX-3</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                 <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gx-5.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-5.png" title="Kawai GX-5" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-5.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gx-5.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-5.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gx-5.html" ><h5 class="text-center mt-15 mb-40">GX-5</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                 <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gx-6.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-6.png" title="Kawai GX-6" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-6.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gx-6.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-6.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gx-6.html" ><h5 class="text-center mt-15 mb-40">GX-6</h5></a>
                </div>
                <!-- Portfolio Item End -->
                  
                 <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/gx-7.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-7.png" title="Kawai GX-7" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-7.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/gx-7.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_cauda/_kawai/_detalhes/GX-7.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/gx-7.html" ><h5 class="text-center mt-15 mb-40">GX-7</h5></a>
                </div>
                <!-- Portfolio Item End -->
                  
              </div>
              <!-- End Portfolio Gallery Grid -->
                          
            </div>
          </div>
        </div>
      </div>
    </section>
      
  </div>
  <!-- end main-content -->

<script>
    $(document).ready(function(){        
        THEMEMASCOT.widget.TM_masonryIsotop();
    });
</script>