
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_catalogo/_piano_digital/_kawai_portatil/kawai.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Kawai: Pianos Digitais Portáteis</h3>
              <ul class="list-inline text-white">
                <li><a href="?p=index"><span class="text-white">Home</span></a> /</li>
                <li><a href="?p=catalogo"><span class="text-white">Catálogo</span></a> /</li>
                <li><a href="?p=piano_digital"><span class="text-white">Piano Digital</span></a> /</li>
                <li><span class="text-gray">Kawai: Modelos Portáteis</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Gallery Grid 4 -->
    <section>
      <div class="container pb-20">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
            
              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-3 gutter clearfix">
                  
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/es8.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/ES7.png" title="Kawai ES8" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/ES7.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/es8.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/ES7.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/es8.html" ><h5 class="text-center mt-15 mb-40">ES8</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/es100.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/ES100B_above.png" title="Kawai ES100B_above" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/ES100B_above.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/es100.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/es100.html" ><h5 class="text-center mt-15 mb-40">ES100</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/mp7.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/MP7_frente.png" title="Kawai MP7" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/MP7_frente.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/mp7.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_digital/_kawai_portatil/_detalhes/MP7_frente.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/mp7.html" ><h5 class="text-center mt-15 mb-40">MP7</h5></a>
                </div>
                <!-- Portfolio Item End -->
                  
              </div>
              <!-- End Portfolio Gallery Grid -->
                          
            </div>
          </div>
        </div>
      </div>
    </section>
      
  </div>
  <!-- end main-content -->

<script>
    $(document).ready(function(){        
        THEMEMASCOT.widget.TM_masonryIsotop();
    });
</script>