  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_empresa/parallax.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Quem Somos</h3>
            </div>
          </div>
        </div>
      </div>
    </section>    

    <section >
      <div class="container">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3 class="line-bottom">História</h3>
                <p>
                    Antônio <b>Felipe</b> Silveira, idealizador da <b>FELIPE PIANOS</b>, iniciou sua trajetória no ramo de pianos quando tinha apenas 12 anos de idade, devido a um trabalho realizado na casa de um afinador, na época o serviço consistia em limpar telhas.
                </p>
                <p>
                    Certo dia, ao sair para almoçar em casa, o menino foi abordado pelo dono de uma fábrica de picolés que o convidou para trabalhar com ele como vendedor de picolés. Ao receber a proposta, Felipe logo lhe disse que só poderia começar trabalhar dentro de alguns dias, pois estava terminando um serviço de limpar telhas.
                </p>
                <p>
                    No mesmo dia, quando Felipe se preparava pra ir embora do serviço, o rapaz que trabalhava com os pianos propôs que Felipe viesse trabalhar com ele. O garoto disse que teria de pensar, pois havia acabado de receber uma proposta de trabalho do dono da fábrica de picolés. Sem nem imaginar que aquela escolha definiria sua vida, Felipe pensou "SE EU FOR VENDER PICOLÉS, VENDEREI BASTANTE, POIS É VERÃO. MAS UMA HORA O VERÃO VAI ACABAR E FICAREI SEM EMPREGO. ENTÃO VOU TRABALHAR COM OS PIANOS." E assim o menino escolheu seu futuro.
                </p>
                <p>
                    Ao decorrer do tempo, foi aprendendo a cuidar desse instrumento tão complexo e apaixonante. Tudo devido a uma escolha feita ainda muito jovem, à muita curiosidade, desejo em aprender e aperfeiçoar seu conhecimento. Essa é a trajetória que deu origem a esse grande profissional que é hoje.
                </p>  
                <p>
                    Dentre os especialistas em piano que passaram pela vida de Felipe, se destaca um senhor de 80 anos. cujo o nome é Arlindo Esperandio. O sr. Arlindo ensinou-o como um pai ensina o filho seu ofício, ensinando praticamente tudo que sabe sobre o instrumento. Como consequência desse grande aprendizado, Felipe, hoje, é um profissional completo na arte de afinar, regular, restaurar, ou seja, cuidar de pianos. 
                </p>
                <p>
                    Devido à seu desempenho profissional frente aos diversos clientes (que vale ressaltar, só crescem), Felipe ganhou destaque frente às grandes indústrias de piano, convidado pela FRITZ DOBBERT e juntamente com a KAWAI e a RITMULLER, a ser o representante oficial das mesmas no Espírito Santo.
                </p>
                <p>
                    Também por esse reconhecimento, hoje é o técnico oficial da YAMAHA DO BRASIL no estado.
                </p>
                <p>
                    Felipe possui diplomas de aperfeiçoamento em cursos que foram pagos pelas próprias empresas que representa, o que lhe compõe maior autoridade na arte de cuidar desse instrumento magníficoo chamado <b>piano</b>.
                </p>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Section: Divider call -->
    <section class="divider parallax overlay-dark-8" data-bg-img="images/_empresa/parallax_meio1.jpg" style="height:300px;">
       <div class="container pt-0 pb-0">
            <div class="row">
              <div class="call-to-action">
                <div class="col-md-9"></div>
              </div>
            </div>
        </div>
    </section>
      
    <section >
      <div class="container">
        <div class="row text-justify">
          <div class="col-md-5 col-sm-6 col-xs-12">
            <h3 class="line-bottom">Missão</h3>
              Garantir qualidade nos serviços relacionados à pianos, afim de gerar satisfação do cliente que adquire um piano novo, ou mesmo daquele cliente que contrata um serviço de afinação ou restauração, independente da idade do piano, o importante é que mais pianos sejam adquiridos, cuidados e que seja difundida a arte de tocar.
          </div>
            
          <div class="col-md-offset-2 col-md-5 col-sm-6 col-xs-12">
            <h3 class="line-bottom">Visão</h3>
              Ser reconhecido como profissional capaz de resolver qualquer problema à respeito de pianos, fazer com que os pianistas, atuais e futuros o tenham como referência pra afinar, consertar, prestar serviços de qualquer natureza ou mesmo pra adquirir um instrumento novo. 
          </div>

        </div>
      </div>
    </section>
    
    
    <!-- Section: Divider call -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="images/_empresa/parallax_meio2.jpg">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="call-to-action">
            <div class="col-md-9">
              <h2 class="text-white font-opensans font-30 mt-0 mb-5">AFINAÇÃO</h2>
              <h3 class="text-white font-opensans font-18 mt-0">
<blockquote cite="https://www.dicio.com.br/afinacao">
    Ato de afinar.<br/>
    Harmonia de vozes ou instrumentos.<br/>
    Tom, diapasão.<br/>
    Ajuste do tom de uma nota em relação a outra segundo uma frequência própria de vibração.<br/>
    Ajuste das cordas de um instrumento de maneira que as notas emitidas coincidam, em frequência, com uma escala tipo. (Neste sentido, O mesmo que afinamento).
</blockquote>
                  fonte: https://www.dicio.com.br/afinacao

              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

      
    <section >
      <div class="container">
        <div class="row text-justify">
          <div class="col-md-12">
            <h3 class="line-bottom">Transporte de Pianos</h3>
                <p>
                    Um serviço que deve ser feito sempre por profissionais especializados,  pois no transporte de um piano, os riscos de danos ao instrumento, ao imóvel e até mesmo danos a integridade física do carregador, são bastante elevados; o que deveria ser a realização de um sonho, muitas vezes, pode se tornar uma bela dor de cabeça, com danos ao piano ou ao imóvel, e até mesmo, nos piores casos, acidentes com os transportadores envolvidos.
                </p>
                <p>
                    <b>Por que devo contratar um Profissional Especializado em transporte de piano?</b><br/>
                    O piano é um instrumento de grande valor sentimental e financeiro. Muitas vezes podem ser únicos e de valor inestimável, não passível de reposição, o que justifica ser transportado por especialistas que farão toda diferença no serviço prestado, a fim de gerar satisfação ao cliente.
                </p>
                <p>
                    Na <b>FELIPE PIANOS</b> o transporte é sempre realizado por profissionais competentes e especializados, acompanhados pelo responsável técnico que dá todo o suporte aos carregadores. Um diferencial que garante maior credibilidade ao serviço e maior satisfação do nosso ciente.
                </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Divider call -->
    <section class="divider parallax layer-overlay overlay-dark-8" data-bg-img="images/_empresa/parallax_fim.jpg">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="call-to-action">
            <div class="col-md-9">
              <h2 class="text-white font-opensans font-30 mt-0 mb-5">Quer saber mais sobre nossos trabalhos?</h2>
              <h3 class="text-white font-opensans font-18 mt-0">Veja nossa Galeria de Fotos</h3>
            </div>
            <div class="col-md-3 mt-30"> 
              <a href="?p=galeria" class="btn btn-default btn-circled btn-lg">Clique aqui</a> 
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <!-- end main-content -->
  