  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider no-bg layer-overlay overlay-dark-light" data-bg-img="images/_index/slide1.jpg">
      <div class="bg-video">
        <div id="home-video" class="video">
          <div class="player video-container" data-property="{videoURL:'oW8jeWMIE5A',containment:'#home-video',autoPlay:true, showControls:false, mute:false, startAt:0, opacity:1}" style="height:500px;"></div>
        </div>
      </div>
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pt-200 pb-200">
            <div class="row">
              <div class="col-md-12 text-center">
              <div class="call-to-action">
                <div class="col-md-12"></div>
              </div>
                  <img src="images/_site/felipe-pianos-white.png">
              <div class="call-to-action">
                <div class="col-md-12"></div>
              </div>

                  
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
   
    <!-- Section: About  -->
    <section>
      <div class="container pb-30">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <img class="img-fullwidth" src="images/_index/felipe.jpg" alt="">
            </div>
            <div class="col-md-6">
              <h3 class="line-bottom">Um pouco sobre o Felipe</h3>
              <p>
                  Representante das marcas: Fritz Dobbert, Kawai e Ritmuller e  técnico da Yamaha do Brasil.
              </p>
              <p> 
                  No mercado a mais de 20 anos e muito requisitado como afinador de pianos em praticamente todo o estado do Espírito Santo, Felipe presta serviços de: afinação e regulagem, transporte, dedetização, limpeza geral interna e externa, com lubrificação de cordas, polimento de partes metálicas, restauração de mecanismo e restauração do móvel.
              </p>
              <p>
                  Venda de pianos novos e seminovos e locação de pianos para eventos.
              </p>
              <p>
                  Todos os serviços são especializados e com garantia de qualidade.
              </p>
              <a class="text-theme-colored font-13" href="?p=empresa">Saiba mais →</a>
            </div>
          </div>
        </div>
      </div>
    </section>
      
    <!-- Divider: PARALLAX -->
    <section class="divider parallax overlay-dark-4" data-bg-img="images/_index/parallax.jpg" data-parallax-ratio="0.7" style="height:300px;">
      <div class="container pt-0 pb-0">
            <div class="row">
              <div class="call-to-action">
                <div class="col-md-9"></div>
              </div>
            </div>
        </div>
    </section>

  <!-- end main-content -->