
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_catalogo/_piano_vertical/_ritmuller/ritmuller.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Ritmuller: Pianos Verticais</h3>
              <ul class="list-inline text-white">
                <li><a href="?p=index"><span class="text-white">Home</span></a> /</li>
                <li><a href="?p=catalogo"><span class="text-white">Catálogo</span></a> /</li>
                <li><a href="?p=piano_vertical"><span class="text-white">Piano Vertical</span></a> /</li>
                <li><span class="text-gray">Ritmuller: Modelos</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Gallery Grid 4 -->
    <section>
      <div class="container pb-20">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
            
              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-3 gutter clearfix">
                  
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/r6.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/r6.png" title="Ritmuller R6" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/r6.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/r6.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/R6.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/r6.html" ><h5 class="text-center mt-15 mb-40">R6</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/rc.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/rc.png" title="Ritmuller RC" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/rc.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/rc.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/rc.html" ><h5 class="text-center mt-15 mb-40">RC</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/up121.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/up121rb.png" title="Ritmuller R8" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_ritmuller/_detalhes/up121rb.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/up121.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/up121.html" ><h5 class="text-center mt-15 mb-40">UP 121</h5></a>
                </div>
                <!-- Portfolio Item End -->

              </div>
              <!-- End Portfolio Gallery Grid -->
                          
            </div>
          </div>
        </div>
      </div>
    </section>
      
  </div>
  <!-- end main-content -->

<script>
    $(document).ready(function(){        
        THEMEMASCOT.widget.TM_masonryIsotop();
    });
</script>