
  
  <!-- Start main-content -->
  <div class="main-content">

    <!-- Section: inner-header -->
    <section class="inner-header divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5" data-bg-img="images/_catalogo/_piano_vertical/_fritz_dobbert/fritz_dobbert.jpg">
      <div class="container pt-100 pb-50">
        <!-- Section Content -->
        <div class="section-content pt-100">
          <div class="row"> 
            <div class="col-md-12">
              <h3 class="title text-white">Fritz Dobbert: Pianos Verticais</h3>
              <ul class="list-inline text-white">
                <li><a href="?p=index"><span class="text-white">Home</span></a> /</li>
                <li><a href="?p=catalogo"><span class="text-white">Catálogo</span></a> /</li>
                <li><a href="?p=piano_vertical"><span class="text-white">Pianos Verticais</span></a> /</li>
                <li><span class="text-gray">Fritz Dobbert: Modelos</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Gallery Grid 4 -->
    <section>
      <div class="container pb-20">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
            
              <!-- Portfolio Gallery Grid -->
              <div id="grid" class="gallery-isotope grid-3 gutter clearfix">
                  
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/110.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/FS_110_site.png" title="Fritz Dobbert FD 110" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/FS_110_site.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/110.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/FS_110_site.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/110.html" ><h5 class="text-center mt-15 mb-40">FD 110</h5></a>
                </div>
                <!-- Portfolio Item End -->
                  
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/110_colonial.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/110.png" title="Fritz Dobbert FD 110 Colonial" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/110.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/110_colonial.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/110.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/110_colonial.html" ><h5 class="text-center mt-15 mb-40">FD 110 Colonial</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/115s.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/115S.png" title="Fritz Dobbert FD 115" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/115S.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/115s.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/115s.html" ><h5 class="text-center mt-15 mb-40">FD 115</h5></a>
                </div>
                <!-- Portfolio Item End -->
                  
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/116.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/116.png" title="Fritz Dobbert FD 116" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/116.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/116.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/116.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/116.html" ><h5 class="text-center mt-15 mb-40">FD 116</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/121.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/121.png" title="Fritz Dobbert FD 121" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/121.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/121.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/121.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/121.html" ><h5 class="text-center mt-15 mb-40">FD 121</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/126.html" >
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/126.png" title="Fritz Dobbert FD 126" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/126.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/126.html" ><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/126.html" ><h5 class="text-center mt-15 mb-40">FD 126</h5></a>
                </div>
                <!-- Portfolio Item End -->
                
                <!-- Portfolio Item Start -->
                <div class="gallery-item photography">
                  <div class="thumb">
                      <a class="ajaxload-popup" href="ajax-load/126al.html">
                        <img class="img-fullwidth" src="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/126AL.png" title="Fritz Dobbert FD 126 AL" alt="project">
                      </a>
                    <div class="overlay-shade"></div>
                    <div class="icons-holder">
                      <div class="icons-holder-inner">
                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                          <a data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/126AL.png"><i class="fa fa-picture-o"></i></a>
                          <a class="ajaxload-popup" href="ajax-load/126al.html"><i class="fa fa-plus"></i></a>
                        </div>
                      </div>
                    </div>
                    <a class="hover-link" data-lightbox="image" href="images/_catalogo/_piano_vertical/_fritz_dobbert/_detalhes/126AL.png">View more</a>
                  </div>
                  <a class="ajaxload-popup" href="ajax-load/126al.html" ><h5 class="text-center mt-15 mb-40">FD 126 AL</h5></a>
                </div>
                <!-- Portfolio Item End -->
              </div>
              <!-- End Portfolio Gallery Grid -->
                          
            </div>
          </div>
        </div>
      </div>
    </section>
      
  </div>
  <!-- end main-content -->

<script>
    $(document).ready(function(){        
        THEMEMASCOT.widget.TM_masonryIsotop();
    });
</script>